In [1]:
import pandas as pd

In [76]:
import numpy as np

In [77]:
from numpy.random import randn
np.random.seed(100)

In [78]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [79]:
df=pd.DataFrame(randn(5,5))

In [80]:
df

          0         1         2         3         4
0 -1.749765  0.342680  1.153036 -0.252436  0.981321
1  0.514219  0.221180 -1.070043 -0.189496  0.255001
2 -0.458027  0.435163 -0.583595  0.816847  0.672721
3 -0.104411 -0.531280  1.029733 -0.438136 -1.118318
4  1.618982  1.541605 -0.251879 -0.842436  0.184519

In [81]:
v=pd.DataFrame(randn(5,5),['A','B','C','D','E'],['U','V','W','X','Y'])

In [82]:
v

          U         V         W         X         Y
A  0.937082  0.731000  1.361556 -0.326238  0.055676
B  0.222400 -1.443217 -0.756352  0.816454  0.750445
C -0.455947  1.189622 -1.690617 -1.356399 -1.232435
D -0.544439 -0.668172  0.007315 -0.612939  1.299748
E -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [83]:
v>0

       U      V      W      X      Y
A   True   True   True  False   True
B   True  False  False   True   True
C  False   True  False  False  False
D  False  False   True  False   True
E  False  False   True  False   True

In [84]:
v["Y"]>0

A     True
B     True
C    False
D     True
E     True
Name: Y, dtype: bool

In [85]:
v[v["Y"]>0]

          U         V         W         X         Y
A  0.937082  0.731000  1.361556 -0.326238  0.055676
B  0.222400 -1.443217 -0.756352  0.816454  0.750445
D -0.544439 -0.668172  0.007315 -0.612939  1.299748
E -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [86]:
v

          U         V         W         X         Y
A  0.937082  0.731000  1.361556 -0.326238  0.055676
B  0.222400 -1.443217 -0.756352  0.816454  0.750445
C -0.455947  1.189622 -1.690617 -1.356399 -1.232435
D -0.544439 -0.668172  0.007315 -0.612939  1.299748
E -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [87]:
mohan=v["U"]+v["V"]

In [88]:
mohan

A    1.668083
B   -1.220817
C    0.733675
D   -1.212611
E   -2.716406
dtype: float64

In [89]:
v["kas"]=mohan

In [90]:
v

          U         V         W         X         Y       kas
A  0.937082  0.731000  1.361556 -0.326238  0.055676  1.668083
B  0.222400 -1.443217 -0.756352  0.816454  0.750445 -1.220817
C -0.455947  1.189622 -1.690617 -1.356399 -1.232435  0.733675
D -0.544439 -0.668172  0.007315 -0.612939  1.299748 -1.212611
E -1.733096 -0.983310  0.357508 -1.613579  1.470714 -2.716406

In [91]:
c=v["Y"]

In [92]:
c

A    0.055676
B    0.750445
C   -1.232435
D    1.299748
E    1.470714
Name: Y, dtype: float64

In [93]:
import pandas as pd
import numpy as np

In [94]:
d=np.random.randint(1,100,size=(5,5))

In [95]:
m=pd.DataFrame(d,['A','B','C','D','E'],['U','V','W','X','Y'])

In [96]:
m

    U   V   W   X   Y
A  20  54  69  63  51
B  69  36  24  10  49
C  22  26  55   7  38
D  59  40  95  52  31
E  67  25  56  18  46

In [97]:
print(m["X"])

A    63
B    10
C     7
D    52
E    18
Name: X, dtype: int32

In [98]:
li=list(m["X"])

In [99]:
li

[63, 10, 7, 52, 18]

In [100]:
r=[]
for p in li:
    if p==0:
        r.append("even")
    else:
        r.append("odd")

In [101]:
r

['odd', 'odd', 'odd', 'odd', 'odd']

In [102]:
m["x_position"]=r

In [103]:
m

    U   V   W   X   Y x_position
A  20  54  69  63  51        odd
B  69  36  24  10  49        odd
C  22  26  55   7  38        odd
D  59  40  95  52  31        odd
E  67  25  56  18  46        odd

sum = 0
for index in m.index:
    i = 0
    fram  = m.loc[index]
    print(fram)
    sum += fram[i]
    i+=1
    print(i)
    print(sum)

In [104]:
m.loc['A']

U              20
V              54
W              69
X              63
Y              51
x_position    odd
Name: A, dtype: object

In [105]:
m.iloc[0, :-1]

U    20
V    54
W    69
X    63
Y    51
Name: A, dtype: object

In [106]:
sum(m.iloc[0,:-1].tolist())

257

In [107]:
m.drop('x_position', axis=1,inplace=True)

In [108]:
m

    U   V   W   X   Y
A  20  54  69  63  51
B  69  36  24  10  49
C  22  26  55   7  38
D  59  40  95  52  31
E  67  25  56  18  46

In [109]:
m['Total(500)'] = [index for i in range(len(m.index))]
m

NameError: name 'index' is not defined

In [114]:
#m['Total(500)'] = [index for i in range(len(m.index))]
li3=[]
gr=[]
for index in range(len(m.index)):
    val  = sum(m.iloc[index, :-2].tolist())
    #print(val)
    m["Total(500)"][index]=val
    #add.append(val)
#li3=[]
for i in range(len(m["Total(500)"])):
    print(m["Total(500)"][i])
    r=(m["Total(500)"][i])
    per=r/500*100
    li3.append(round(per,2))
    
#li3=[]
#gr=[]
for i in range(len(m["Total(500)"])):
    #print(m["Total(500)"][i])
    r=(m["Total(500)"][i])
    per=r/500*100
    li3.append(round(per,2))
for per in li3:
    #print(per)
    if per>=90:
        gr.append("A")
    elif (per>=80 and per<90):
        gr.append("B")
    elif (per>=40 and per<90):
        gr.append("C")
    else:
        gr.append("D")

KeyError: 'Total(500)'

In [115]:
m["PERCENTAGE"]=li3
m["GRADE"]=gr

ValueError: Length of values (0) does not match length of index (5)

    U   V   W   X   Y
A  20  54  69  63  51
B  69  36  24  10  49
C  22  26  55   7  38
D  59  40  95  52  31
E  67  25  56  18  46

In [ ]:
li3=[]
for i in range(len(m["Total(500)"])):
    print(m["Total(500)"][i])
    r=(m["Total(500)"][i])
    per=r/500*100
    li3.append(round(per,2))
    
#print(li3)

In [ ]:
m["PERCENTAGE"]=li3

In [ ]:
m

In [ ]:
li3=[]
gr=[]
for i in range(len(m["Total(500)"])):
    #print(m["Total(500)"][i])
    r=(m["Total(500)"][i])
    per=r/500*100
    li3.append(round(per,2))
for per in li3:
    #print(per)
    if per>=90:
        gr.append("A")
    elif (per>=80 and per<90):
        gr.append("B")
    elif (per>=40 and per<90):
        gr.append("C")
    else:
        gr.append("D")

In [ ]:
m["PERCENTAGE"]=li3
m["GRADE"]=gr

In [ ]:
m