# input_output

# 1. Write a code to get the input in the given format and print the output in the given format
Input Description: To take an integer value

Output Description: Print the integer value

Sample Input : 2

Sample Output : 2

â€‹

In [7]:
num = int(input())

print("output")

print(num)

2
output
2

# 2.Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input :
2 3 4 5 6 7 8

Sample Output :
2 3 4 5 6 7 8

In [1]:
num1 = input()  # to take an input function
print("output")
print(num1)

2 3 4 5 6 7 8
output
2 3 4 5 6 7 8

# 3.Write a code to get the input in the given format and print the output in the given format.


Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5

Sample Output :
5 3
1 2 3 4 5

In [2]:
a = input()
b = input()
print("output")
print(a)
print(b)

5 3
1 2 3 4 5
output
5 3
1 2 3 4 5

# 4.Write a code to get the input in the given format and print the output in the given format


Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4
2 4
2 4

Sample Output :
2 4
2 4
2 4

In [6]:
print("input")
num1 = input()

num2 = input()

num3 = input()

print("output")

print(num1)

print(num2)

print(num3)

input
2 4
2 4
3 5
output
2 4
2 4
3 5

# 5.Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :
2
4
5
Sample Output :
2 4 5

In [3]:
a = int(input())

b = int(input())

c = int(input())

print("output")

print(a,b,c)

2
4
5
output
2 4 5

# 6.Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :
2 5
2 5 6
2 4 5
Sample Output :
2 5
2 5 6
2 4 5

In [4]:
a = input()

b = input()

c = input()
print("output")
print(a)

print(b)

print(c)

2 5
2 5  6
2 4  5
output
2 5
2 5  6
2 4  5

# 7.Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i

In [6]:
str = input()

print("output:")
print(" ".join(str))

mohan
output:
m o h a n

# 8. Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8
Sample Output :
2.3
4.5
7.8

In [8]:
flo = input().split(" ")  #  2.3 4.5 7.8

#print(flo) ['2.3', '4.5', '7.8']
print("Output")

for t in flo:

  print(t)

2.3 4.5 7.8
Output
2.3
4.5
7.8

# 9.Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :
guvigeek
Sample Output :
g
u
v
i
g
e
e
k

In [9]:
str1  = input()


for i in str1 :

  print(i)

guvigeek
g
u
v
i
g
e
e
k

# 10.Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

Sample Input :
guvi
Sample Output :
g,u,v,i

In [11]:
str3 = input()

print(",".join(str3))

guvi
g,u,v,i