# 1.You are given with a number "N", find its cube.



Input Description:
A positive integer is provided.

Output Description:
Find the cube of the number.

Sample Input :
2
Sample Output :
8

In [1]:
value = int(input())

cube = value*value*value

print(cube)

2
8

# 2.The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

Input Description:
The side of an equilateral triangle is provided as the input.

Output Description:
Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

Sample Input :
20
Sample Output :
173.21

In [2]:
import math

n = int(input())

area = (1/4)*(math.sqrt(3)*(n*n))

print(round(area,2))

20
173.21

# 3.Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

input Description:
A positive integer is provided to you as an input.

Output Description:
Print the First 3 multiples of the number with single spaces between them as an output.

Sample Input :
2
Sample Output :
2 4 6

In [3]:
n = int(input())

c = ""

for k in range(1,4):
    
  c = c+ str(n*k)+" "

print(c.strip())

2
2 4 6

# 4. You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......

(Print "Error" if N = negative value and 0 if N = 0).

Input Description:
An integer N is provided to you as the input.

Output Description:
Find the Nth term in the provided series.

Sample Input :
18
Sample Output :
324

In [4]:
num = int(input())

print(num*num)

18
324

# You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description:
The input is in the form of a number.

Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :
8
Sample Output :
31

In [5]:
a = int(input())
b = [1,3,5,7,8,10,12]
c = [4,6,9,11]
#d = 2
if a in b:
  print(31)
elif a in c:
  print(30)
elif a ==2:
  print(28)
else:
  print("Error")

8
31

# 6.You are given Two Numbers, A and B. If C = A + B. Find C.

Note: Round off the output to a single decimal place.

Input Description:
You are provided with two numbers A and B.

Output Description:
Find the sum of the two numbers (A + B)

Sample Input :
1
1
Sample Output :
2

In [6]:
number1 = int(input())

number2 = int(input())

print(number1 + number2)

1
1
2

# 7.You are provided with a number, "N". Find its factorial.

Input Description:
A positive integer is provided as an input.

Output Description:
Print the factorial of the integer.

Sample Input :
2
Sample Output :
2

In [7]:
import math

n = int(input())

print(math.factorial(n))

2
2

# 8.You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

Input Description:
The inputs are two natural numbers representing the length and the breadth of a rectangle.

Output Description:
Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

Sample Input :
2
3
Sample Output :
6

In [8]:
x = int(input())


y = int(input())


print(x*y)

2
3
6

# 9.Let "A"  be a string. Remove all the whitespaces and find it's length.

Input Description:
A string is provide as an input

Output Description:
Remove all the whitespaces and then print the length of the remaining string.

Sample Input :
Lorem Ipsum
Sample Output :
10

In [9]:
N = input().split(" ")

b = "".join(N)

print(len(b))

lorem ipsum
10

# 10. You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

Input Description:
A number "A" representing some distance in kilometer is provided to you as the input.

Output Description:
Convert and print this value in meters and centimeters.

Sample Input :
2
Sample Output :
2000
200000

In [10]:
o = int(input()) #  1km = 1000m

print(o*1000)   #1m = 100cm

print(o*100000)  #1km = 1000*100

2
2000
200000

# 11.You are provided with a number check whether its odd or even. 

Print "Odd" or "Even" for the corresponding cases.

Note: In case of a decimal, Round off to nearest integer and then find the output. Incase the input is zero, print "Zero".

Input Description:
A number is provided as the input.

Output Description:
Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".

Sample Input :
2
Sample Output :
Even

In [12]:
Number = int(input())

if Number%2==0:
    print("Even")
else:
    print("Odd")

2
Even

# 12.Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

Input Description:
A positive integer is provided as an input.

Output Description:
Print the table of nine with single space between the elements till the number that is input.

Sample Input :
3
Sample Output :
9 18 27

In [13]:
x = int(input())

li =[]

for i in range(1,x+1):
    
    li.append(i*9)
    
print(*li)

3
9 18 27

# 13. Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2

In [16]:
x,y = map(int,input().split(" "))

for i in range (y):
    
    print(x)

2 3
2
2
2

# 14. Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

Input Description:
A Year is the input in the form of a positive integer.

Output Description:
Print "Y" if its a leap year and "N" if its a common year.

Sample Input :
2020
Sample Output :
Y

In [17]:
year = int(input())

if (year%4 == 0 and year%100 != 0) or (year%400 == 0) :
    print("Y")
else :
    print ("N")

2020
Y

# 15. Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6

In [18]:
n = int(input())

for i in range(2,n+1):
    
    if i%2 == 0:
        
        print(i)

6
2
4
6

# 16. Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [1]:
number = int(input())

for i in range (number,0,-1):
    
    print(i)

10
10
9
8
7
6
5
4
3
2
1

# 17.You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit. 

Note: In case of decimal values, round-off to two decimal places.

Input Description:
A number is provided in Celcius as the input of the program.

Output Description:
The output shall be the temperature converted into Fahrenheit corresponding to the input value print up to two decimal places and round off if required.

Sample Input :
12
Sample Output :
53.60

In [2]:
x = float(input()) #use int or float

f = x*(9/5)+32  # formula

print(round(f,2)) # round is a functin ,we can use to #display no of decimal values we have

12
53.6

# 18.Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1

In [3]:
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1,num2=list(map(int,input().split(" ")))


print( compute_hcf(num1, num2))

2 3
1

# 19.Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4

In [2]:
num = int(input())

for i in range(5):
  print(num)

4
4
4
4
4
4

# 20. Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG

In [3]:
str = input()

b = reversed(str)

print("".join(b))

GUVI
IVUG

# 21.Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7

In [4]:
integer = input()

x = list(map(int,integer))

sum = 0

for i in range (len(x)):
    
    sum = sum+x[i]
    
print(sum)

124
7

# 22.You are provided with the radius of a circle "A". Find the length of its circumference.

Note: In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

Input Description:
The Radius of a circle is provided as the input of the program.

Output Description:
Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

Sample Input :
2
Sample Output :
12.57

In [5]:
number = float(input())

circle = 2*(22/7)*number

print(round(circle,2))

2
12.57

#  23.Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55

In [6]:
num = int(input())

sum = 0

for i in range(1,num+1):
    
    sum+=i
    #sum+=1  to ad how many iterations
    
    
print(sum)

10
55

# 24.Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8

In [7]:
a = input()
b = list(a)
print(" ".join(b))

346
3 4 6

# 25. You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

Input Description:
Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description:
Find the Simple interest and print it up to two decimal places. Round off if required.

Sample Input :
1000 2 5
Sample Output :
100.00

In [8]:
arr = list(map(float, input().split(" "))) 
s = arr[0]*arr[1]*arr[2]/100

print(round(s,2))

1000 2 5
100.0

#  26. Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [9]:
digits = list(map(int,input()))
#print(digits)

even =[]

odd = []

for i in range(len(digits)):
  if digits[i]%2==0:
    even.append(digits[i])
    #print(even)
  else:
    odd.append(digits[i])
    #print(odd)

even.sort()
odd.sort()
print(*even)
print(*odd)

1234
2 4
1 3

# 27. You are given three numbers A, B & C. Print the largest amongst these three numbers.

Input Description:
Three numbers are provided to you.

Output Description:
Find and print the largest among the three

Sample Input :
1
2
3
Sample Output :
3

In [10]:
x = int(input())

y = int(input())

c = int(input())

print(max(x,y,c))

1
2
3
3

# 28. Write a code to get an integer N and print values from 1 till N in a separate line.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5

In [11]:
num = int(input())

for i in range(1,num+1):
    
    print(i)

5
1
2
3
4
5