In [1]:
a = int(input("enter your number: "))
b = int(input("enter your number: "))
c = int(input("enter your number: "))
if a>b and a>c:
    print(a,"is bigger than b and c")
elif b>a and b>c:
    print(b,"is greater than a and c")
else:
    print(c,"is bigger than a and b")

enter your number: 5
enter your number: 7
enter your number: 5
7 is greater than a and c

# Absolute Beginner

In [5]:
# cube
number = int(input())
i = number*number*number
print(i)

9
729

In [2]:
import math
a = int(input())
v = (1/4)*(math.sqrt(3)*a*a)
print(round(v,2))

20
173.21

In [8]:
# multiples of given N nmmbers
n = int(input())
for i in range(1,11):
    #print(i)
    print(n,"*",i,"=",n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
n = int(input())
li=[]
for i in range(1,11):
    #print(i)
    v=n,"*",i,"=",(n*i)
    li.append(str(n*i))
print(" ".join(li))

5
5 10 15 20 25 30 35 40 45 50

In [18]:
n = int(input())
c=""
for i in range(1,11):
    c=c+str(n*i)+" "   
print(c.strip())

5
5 10 15 20 25 30 35 40 45 50

In [2]:
# Find the days in a month
a = int(input("enter your month: "))
li=[1,3,5,7,8,10,12]
li1=[4,6,9,11]
if a in li:
    print("31")
elif a in li1:
    print("30")
else:
    print("it is a leap year 28 days ")

enter your month: 8
31

###### you are given two numbers A and B.if C=A+b find c

In [2]:
a=int(input())
b=int(input())
c=a=b
print("c","=",c)

3
5
c = 5

###### you are provided  with a number,"N".find its factorial

In [3]:
# The factorial of a number is the product of all the integers from 1 to that number
# ex : the factorial of 6 is 1*2*3*4*5*6=720

In [9]:
number = int(input())
factorial=1
if number<0:
    print("sorry factorial does not exists for negative numbers")
elif number==0:
    print(" The factorial of 0 is 1")
else:
    for i in range(1,number+1):
        factorial=factorial*i
    print("The factorial of ",number,"is",factorial)

2
The factorial of  2 is 2

In [10]:
import math
a = int(input())
print(math.factorial(a))

2
2

###### You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

In [11]:
x = int(input())
y = int(input())
print(x*y)

8
888
7104

###### Let "A"  be a string. Remove all the whitespaces and find it's length

In [13]:
a = input().split(" ")#Lorem Ipsum
b = "".join(a)
print(len(b))

Lorem Ipsum
10

###### Convert and print this value in meters and centimeters.

In [14]:
o = int(input()) #  1km = 1000m

print(o*1000)   #1m = 100cm

print(o*100000)  #1km = 1000*100

2
2000
200000

###### You are provided with a number check whether its odd or even.

In [16]:
num = int(input("enter a number whether check: "))
if num%2==0:
    print("even")
else:
    print("Odd")

enter a number whether check: 639983
Odd

###### Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

In [17]:
x = int(input())

li =[]

for i in range(1,x+1):
    
    li.append(i*9)
    
print(*li)

3
9 18 27

###### Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

In [19]:
x,y = map(int,input().split(" "))

for i in range (y):
    
    print(x)   #

2 3
2
2
2

###### Let "A" be a year, write a program to check whether this year is a leap year or not.

In [20]:
year = int(input())

if (year%4 == 0 and year%100 != 0) or (year%400 == 0) :
    print("Y")
else :
    print ("N")

2004
Y

In [22]:
# Python program to check if year is a leap year or not

year = int(input())

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

2020
2020 is a leap year

###### Write a code to get an integer N and print the even values from 1 till N in a separate line.

In [23]:
n = int(input())

for i in range(2,n+1):
    
    if i%2 == 0:
        
        print(i)

6
2
4
6

###### Write a code to get an integer N and print the values from N to 1.

In [27]:
number = int(input())

for i in range (number,0,-1):
    
    print(i)

10
10
9
8
7
6
5
4
3
2
1

In [4]:
a=10,20,30,40,50
print(10 in a)

True