# String

Any sequence of characters within either single quotes or double quotes is considered as a String

In [4]:
bdd= 'Mohandkneke'   # single quotes

In [5]:
print(bdd)
print(type(bdd))

Mohandkneke
<class 'str'>

In [1]:
S = "yadav"   # Double Quotes

In [2]:
print(S)
print(type(S))

yadav
<class 'str'>

In [3]:
s = 'Mohan'     # single quotes
print(type(s))

<class 'str'>

In [4]:
print(s)
print(type(s))

Mohan
<class 'str'>

# multi-line String

We can define multi-line String literals by using triple single or double quotes.

In [2]:
name = '''My 
        Name
        Mohan
        Yadav'''

In [3]:
print(name)
print(type(name))

My
        Name
        Mohan
        Yadav
<class 'str'>

In [6]:
s = """MOhan yadav"""   # triple double quotes
print(s)
print(type(s))

MOhan yadav
<class 'str'>

In [7]:
s1 = '''MOHAN GANDHI'''  # triple single quotes
print(s1)
print(type(s1))

MOHAN GANDHI
<class 'str'>

# Using triple quotes for multiple line comments

In [8]:
Name  = """Hello welcome to 
           world of python.
           working with python is very fun"""

In [9]:
print(Name)
print(type(Name))

Hello welcome to
           world of python.
           working with python is very fun
<class 'str'>

# String Indexing

In [13]:
x = "MOHANYADAV"

In [14]:
print(x)
print(type(x))
print(id(x))

MOHANYADAV
<class 'str'>
1986191616304

In [15]:
# Positive indexing or Forward index
print (x[0]) 
print (x[1]) 
print (x[2]) 
print (x[3]) 
print (x[4]) 
print (x[5]) 
print (x[6])  
print (x[7])

M
O
H
A
N
Y
A
D

In [16]:
# negative indexing or Backward index

print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])
print(x[-5])
print(x[-6])
print(x[-7])
print(x[-8])

V
A
D
A
Y
N
A
H

In [18]:
x1 = " MOHAN GANDHI"
print(x1)
print(type(x1))
print(id(x1))

 MOHAN GANDHI
<class 'str'>
1986220150192

In [23]:
print(x1[0]) #space is trated as empty character
print(x1[1])
print(x1[2])
print(x1[3])
print(x1[4])
print(x1[5])
print(x1[6])
print(x1[7])
print(x1[8])
print(x1[9])
print(x1[10])
print(x1[11])
print(x1[12])
print(x1[13])
print(x1[2])
print(x1[200])

M
O
H
A
N

G
A
N
D
H
I

IndexError: string index out of range

In [24]:
# using float numbers:

x1[1.5]    #TypeError: string indices must be integers

TypeError: string indices must be integers

In [31]:
x1[True]

'M'

In [32]:
x1[False]

' '