# Strings are Sequence of Characters enclosed within Single Quotes(' '),Double Quotes(" ") or Triple Quotes(''' ''') are Consider as a string

In [7]:
a = 'Hello world'  # sigle quotes characters

In [8]:
type(a)

str

In [9]:
b = "This is Sparta"  # word or sentences

In [10]:
b

'This is Sparta'

In [11]:
type(b)

str

In [6]:
c = '''
i
am
going
to
France
Tomorrow
'''

In [12]:
c # multine comments or Strings

'\ni\nam\ngoing\nto\nFrance\nTomorrow\n'

In [13]:
type(c)

str

In [14]:
my_string = "Joey loves Pizza"

In [15]:
len(my_string)

16

In [16]:
my_string

'Joey loves Pizza'

In [17]:
my_string[0]

'J'

In [18]:
my_string[-1]

'a'

In [19]:
my_string[0:9] # starts 0 and (end-1)=  0,5-1=4
# it will goes 0 to 4 only

'Joey love'

   0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
   j o e y   l o v e s     p  i  z  z  a

In [20]:
# finding the length of string
word = "My Name is Mohan Yadav"

In [21]:
type(word)

str

In [22]:
len(word) # length starts with 1
# index starts withs 0

22

In [23]:
word

'My Name is Mohan Yadav'

In [24]:
# lower() Method
word.lower()

'my name is mohan yadav'

In [25]:
# upper() Method
word.upper()

'MY NAME IS MOHAN YADAV'

In [27]:
# replace() Method
word.replace("y","a")

'Ma Name is Mohan Yadav'

In [29]:
word

'My Name is Mohan Yadav'

In [34]:
word.replace("yadav","Gandhi") # y is capital in yadav,thats why can't replace

'My Name is Mohan Yadav'

In [35]:
word.replace("Yadav","Gandhi") # give asusally either small or 
#cAPITAL IN ORIGINAL STRING THEN ONLY REPLACE

'My Name is Mohan Gandhi'

In [36]:
# count() Method
str1 = "Hello Hello World"

In [37]:
str1

'Hello Hello World'

In [38]:
str1.count()

TypeError: count() takes at least 1 argument (0 given)

In [39]:
str1.count("Hello")

2

In [41]:
word

'My Name is Mohan Yadav'

In [40]:
word.count("a")

4

In [49]:
# find() Method
# finding the index of  subString

s1 = "This is sparta!!!"

In [50]:
s1.find()

TypeError: find() takes at least 1 argument (0 given)

In [51]:
s1.find("sparta")

8

In [52]:
s1.find("is")

2

In [53]:
s1.find(" ")

4

In [57]:
# split() Method
fruit = "I like apples,mangoes,bananas"

In [58]:
fruit.split(",")

['I like apples', 'mangoes', 'bananas']

In [59]:
my_date = "15-2-2023"

In [60]:
my_date.split("-")

['15', '2', '2023']