# operators

### operator is a symbol that performs certain operations

1.Arithmetic operators
2.Assignment operators
3.Relational or comparision operators
4.Logical operators
5.identity operators
6.Membership operator
7.Bitwise operator

# Arithmetic operators

###### we can use +,* operator for strings also

In [2]:
a=10
b=20

# Addition

In [3]:
# Addition
a+b

30

In [ ]:
"""if you want to use "+" operator for string type then compulsory both arguments should be
string type only otherwice we will get error """

In [20]:
a = "mohan"
b="yadav"
a+b

'mohanyadav'

In [31]:
a="mohan"+"10"
a

'mohan10'

In [32]:
b="mohan"+10
b

TypeError: can only concatenate str (not "int") to str

# Subtraction

In [4]:
#subtraction
a-b

-10

In [2]:
5-6

-1

In [3]:
5-3

2

# Multiplication

In [ ]:
"""if you want to use "*" operator for string type then compulsory one arguments should be
int type and other arguments should be string type  """

In [7]:
v="mohan "
v*3

'mohan mohan mohan '

In [8]:
v="mohan "*4
v

'mohan mohan mohan mohan '

In [ ]:
i=2

In [6]:
#multiplication
print(a*b)

200

In [27]:
a = "hero "
a*5

'hero hero hero hero hero '

# Division

In [18]:
# division
a=10
b=20
a/b

0.5

# Division

##### / operator always performs floating point arithmetic .Hence it will always returns Float value

In [1]:
a=5    # here a is Dividend
b=2    # b is a Divisor
a/b   # normal division cant returns the quotient as output
#in c++ only returns integer value as output,in python returns float value

2.5

In [13]:
a=4
b=2
a/b

2.0

In [14]:
a=2
b=20
a/b

0.1

# Floor division

###### //  floor division can performs both floating point and integral arithmetic.if arguments are int type then result is int type ...if atleast one arguments is float type then result is float type

In [ ]:
#floor means round numbers down to the nearest integer

In [8]:
a=10
b=20 # actually a/b is 0.5 in normal division but  floor division round the nearest integer as output
a//b

0

In [6]:
a=5
b=2  # here also same a/b = 2.5,round the nearest integer as 2
a//b

2

In [10]:
import math
print(math.floor(0.77))
print(math.floor(1.4))
print(math.floor(5.3))
print(math.floor(-5.3))
print(math.floor(22.6))
print(math.floor(10.0))

0
1
5
-6
22
10

# ciel()

In [11]:
# This method round a number UP to the nearest number

In [15]:
import math
print(math.ceil(0.77))
print(math.ceil(1.4))
print(math.ceil(5.3))
print(math.ceil(-5.3))
print(math.ceil(22.6))
print(math.ceil(10.0))

1
2
6
-5
23
10

# exponent

In [16]:
a**b

100000000000000000000

In [17]:
a=1
b=2
a**b

1

4

In [1]:
# Examples of Arithmetic Operator
a = 9
b = 4
  
# Addition of numbers
add = a + b
  
# Subtraction of numbers
sub = a - b
  
# Multiplication of number
mul = a * b
  
# Division(float) of number
div1 = a / b
  
# Division(floor) of number
div2 = a // b
  
# Modulo of both number
mod = a % b
  
# Power
p = a ** b
  
# print results
print(add)
print(sub)
print(mul)
print(div1)
print(div2)
print(mod)
print(p)

13
5
36
2.25
2
1
6561

# Assignment Operators

###### Assignment operators are used to assign values to variables:

# + ==>Addition
- ==>Subtraction
* ==>Multiplication
/ ==>Division operator
% ===>Modulo operator
// ==>Floor Division operator
** ==>Exponent operator or power operator

In [9]:
a=10
b=2
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a//b=',a//b)
print('a%b=',a%b)
print('a**b=',a**b)

a+b= 12
a-b= 8
a*b= 20
a/b= 5.0
a//b= 5
a%b= 0
a**b= 100

In [10]:
a = 10.5
b=2
a+b= 12.5
a-b= 8.5
a*b= 21.0
a/b= 5.258
a//b= 5.0
a%b= 0.5
a**b= 110.25

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2819644474.py, line 3)